* HEADER SOCIAL */
.social {
    width: 100%;
    height: 50px;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
}
.social__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social__whatsApp a {
    display: flex;
    align-items: center;
    color: var(--white-color);
    cursor: pointer;
}
.social__media {
    z-index: 9999;
}
.social__whatsApp i,
.social__media i {
    font-size: var(--h2-font-size);
    color: var(--white-color);
    border-radius: 10px;
    padding: 0.5rem;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.social__media i:hover {
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.social__whatsApp span {
    font-weight: var(--font-medium);
    text-transform: uppercase;
}
/* hHEADER MENU */
/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px; /* Compensação para o padding do container */
}

.col-4 {
    width: calc(33.33% - 30px); /* Ajuste conforme necessário para o espaçamento entre as divs */
    padding: 15px;
    box-sizing: border-box;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h4 {
    font-size: 18px;
    margin-top: 10px;
}

.card p {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

.card .price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.card .btn-add-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.card .btn-add-cart:hover {
    background-color: #0056b3;
}
